@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}
body,
html, 
ul,
a
{
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../pictures/photo.png);
    background-size: cover;
    height: 630px;
    padding-top: 25px;
    box-sizing: border-box;
}

.center {
    margin: 0 auto;
    width: 960px;
}

header > div {
    line-height: 60px;
}

header a {
    text-decoration: none;
    color: white;
}

header .logo {
    font-family: Raleway-Regular;
    font-size: 21.5pt;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
}

header .logo:before {
    display: inline-block;
    content: "";
    height: 40px;
    width: 40px;
    background-image: url(../pictures/logos.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: top;
}

nav {
    display: inline-block;
    vertical-align: top;
}

nav a {
    font-size: 8.75pt;
    font-family: Montserrat-Light;
    margin-right: 20px;
}

nav a:first-of-type {
    margin-left: 100px;
}

nav a:last-of-type,
header .actions:last-of-type {
    margin-right: 0;
}

header .actions {
    float: right;
    margin-top: 22px;
    box-sizing: border-box;
}

header .curt {
    background-image: url("../pictures/icon-cart.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: right;
    width: 12px;
    height: 16px;
}

header .search {
    background-image: url("../pictures/icon-search.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.content {
    height: 280px;
    font-size: 0;
    box-sizing: border-box;
    padding-top: 50px;
    position: relative;
    top: 0;
    left: 0;
}

.content > div {
    position: relative;
    top: 0;
    left: 0;
    width: 220px;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    padding-top: 50px;
    height: 180px;
    box-sizing: border-box;
}

.content > div:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    height: 40px;
    width: 40px;
    transform: translate(-50%, 0);
}

.content .line {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    height: 3px;
    width: 100px;
    transform: translate(-50%, 0);
    background-color: coral;
}

.content .web:before {
    background-color: green;
}

.content .dev:before {
    background-color: dimgrey;
}

.content .custom:before {
    background-color: purple;
}

.content .market:before {
    background-color: coral;
}

.content .head-text {
    font-family: Raleway-SemiBold;
    font-size: 16px;
    color: #555555;
}

.content .descr {
    font-family: Montserrat-Light;
    font-size: 12px;
    color: #8c8c8c;
}