@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}
body,
html, 
ul,
a
{
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../pictures/head/photo.png);
    background-size: cover;
    height: 630px;
    padding-top: 25px;
    box-sizing: border-box;
}

.center {
    margin: 0 auto;
    width: 960px;
}

header > div {
    line-height: 60px;
}

header a {
    text-decoration: none;
    color: white;
}

header .logo {
    font-family: Raleway-Regular;
    font-size: 21.5pt;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
}

header .logo:before {
    display: inline-block;
    content: "";
    height: 40px;
    width: 40px;
    background-image: url(../pictures/head/logos.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: top;
}

nav {
    display: inline-block;
    vertical-align: top;
}

nav a {
    font-size: 8.75pt;
    font-family: Montserrat-Light;
    margin-right: 20px;
}

nav a:first-of-type {
    margin-left: 100px;
}

nav a:last-of-type,
header .actions:last-of-type {
    margin-right: 0;
}

header .actions {
    float: right;
    margin-top: 22px;
    box-sizing: border-box;
}

header .curt {
    background-image: url("../pictures/head/icon-cart.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: right;
    width: 12px;
    height: 16px;
}

header .search {
    background-image: url("../pictures/head/icon-search.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: right;
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.content .service {
    height: 280px;
    font-size: 0;
    box-sizing: border-box;
    padding-top: 50px;
    position: relative;
    top: 0;
    left: 0;
}

.content .service > div {
    position: relative;
    top: 0;
    left: 0;
    width: 220px;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    padding-top: 50px;
    height: 180px;
    box-sizing: border-box;
}

.content .service > div:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    height: 40px;
    width: 40px;
    transform: translate(-50%, 0);
}

.content .service .line {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    height: 3px;
    width: 100px;
    transform: translate(-50%, 0);
    background-color: rgb(199,178,153);
    display: none;
}

.content .service .web::before {
    background-image: url("../pictures/content/service/web/icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    background-position: center;
    
}

.content .service .web:hover::before {
    background-image: url("../pictures/content/service/web/icon_hover.png");
    width: 30px;
    height: 30px;
}

.content .service .dev::before {
    background-image: url("../pictures/content/service/dev/icon.png");
    width: 30px;
    height: 30px;
}

.content .service .dev:hover::before {
    background-image: url("../pictures/content/service/dev/icon_hover.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.content .service .custom::before {
    background-image: url("../pictures/content/service/custom/icon.png");
    width: 30px;
    height: 30px;
}

.content .service .custom:hover::before {
    background-image: url("../pictures/content/service/custom/icon_hover.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.content .service .market::before {
    background-image: url("../pictures/content/service/market/icon.png");
    width: 30px;
    height: 30px;
}

.content .service .market:hover::before {
    background-image: url("../pictures/content/service/market/icon_hover.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.content .service .head-text {
    font-family: Raleway-SemiBold;
    font-size: 16px;
    color: #555555;
}

.content .service div:hover .head-text {
    color: rgb(199,178,153);
}

.content .service div:hover .line {
    display: block;
}

.content .service .descr {
    font-family: Montserrat-Light;
    font-size: 12px;
    color: #8c8c8c;
}

.content .service span:hover {
    cursor: default;
}

.content .real-ideas {
    position: relative;
    top: 0;
    left: 0;
    height: 550px;
    width: 100%;
    background-color: #fbfaf8;
    box-sizing: border-box;
    overflow: hidden;
}

.content .real-ideas .text-box {
    width: 480px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.content .real-ideas .head-text {
    font-family: Raleway-SemiBold;
    font-size: 24px;
    color: #555555;
    line-height: 60px;
}

.content .real-ideas .descr {
    font-family: Montserrat-Light;
    font-size: 16px;
    color: #8c8c8c;
    line-height: 24px;
}

.content .real-ideas .photo-site {
    position: absolute;
    width: 480px;
    height: 300px;
    left: 50%;
/*    top: 0;*/
    transform: translate(-50%, 0);
    background-image: url(../pictures/content/real-ideas/photo_site_center.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.content .real-ideas .photo-site::before {
    position: absolute;
    content: "";
    display: block;
    width: 480px;
    height: 300px;
    left: -40%;
    top: 15%;
    background-image: url(../pictures/content/real-ideas/photo_site_left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}



